*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}

.container{
   background-color: aliceblue;
   border-radius: 1rem;
   padding: 1rem;
}

.display{
    min-height: 7.5rem;
    background-color: peachpuff;
    border-radius: 0.5rem;
    

}

.btnContainer{
    padding: 0.5rem;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row{
    display: flex;
    gap: 0.5rem;
}

.btn{
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: peachpuff;
    display: flex;
    align-items: center;
    justify-content: center;
}